# Ignore compiled Python bytecode files
*.pyc

# Ignore Python cache directories
__pycache__/

# Ignore environment-specific settings
.env
venv/
IRP_tp/

# Ignore editor-specific files
.vscode/
.idea/
*.sublime-*

data/cifar-10-python.tar.gz
